body, html {
  margin: 0;
  height: 100%;
  width: 100%;
}

#container {
  background-color: rgb(24, 24, 24);
  background-size: cover;
  height: 100%;
  width: 100%;
}

.board {
  background-color: rgb(222, 222, 222);
  margin: 30px;
  margin-top: 0;
  height: 100%;
  width: 100%;
  position: relative;
}

.snake-block {
  background-color: green;
  position: absolute;
  height: 30px;
  width: 30px;
  grid-area: block;
}

.snake-head {
  background: rgb(15, 176, 12);
  width: 30px;
  height: 30px;
  position: absolute;
}

.snake-body {
  background: goldenrod;
  width: 30px;
  height: 30px;
  position: absolute;
}

.snake-food {
  background: red;
  position: absolute;
  height: 30px;
  width: 30px;
}

#score {
  text-align: end;
  margin-right: 20px;
  line-height: 30px;
  text-align: center;
  color: #999;
  margin: 0;
  margin-right: 30px;
}
#points{
  color: red;
}

.cover{
  position: fixed;
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  background: #00000066;
}

#beginning-modal{
  display: block;
}

.play-again-box{
  position: relative;
  top: 25%;
  width: 50vw;
  height: 50vh;
  background: #d5d5d5;
  margin: 0 auto;
  display: grid;
  grid-template-areas:    "msg msg"
                          "name name"
                          "again btn2";
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 3fr 1fr 1fr;
  text-align: center;
  padding: 1em;
  border-radius: 3%;
  box-sizing: border-box;
  display: none;
}

.message{
  grid-area: msg;
}

#name{
  grid-area: name;
  margin:0;
  padding: 0;
  font-size: 2em;
}

.again{
  grid-area: again;
  background: rgb(27, 157, 42);
  color: rgb(0, 0, 0);
}

.highest-scores{
  background: rgb(157, 34, 27);
  color: white;
  cursor: pointer;
}

.highest-scores-box {
  position: relative;
  top: 25%;
  width: 50vw;
  height: 50vh;
  background: #d5d5d5;
  margin: 0 auto;
  grid-template-areas:  ". title ."
                        "entries entries entries"
                        "again again again";
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 4fr 2fr;
  text-align: center;
  padding: 1em;
  border-radius: 3%;
  box-sizing: border-box;
  display: none;
}

.score-entries {
  grid-area: entries;
}

.start-box{
  position: relative;
  top: 25%;
  width: 50vw;
  height: 50vh;
  background: #d5d5d5;
  margin: 0 auto;
  display: grid;
  grid-template-areas:    "title title"
                          "start start";
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  text-align: center;
  padding: 1em;
  border-radius: 3%;
  box-sizing: border-box;
}

.title {
  grid-area: title;
}

.start {
  grid-area: start;
  background-color: rgb(27, 157, 42);
}

@media screen and (max-width: 1000px) {
  .play-again-box{
      width: 60%;
  }

  .highest-scores-box{
      width: 60%;
  }
}

@media screen and (max-width: 600px) {
  .play-again-box{
      width: 95%;
      padding: 0;
  }

  .highest-scores-box{
      width: 95%;
      padding: 0;
  }
}
