body, html {
  margin: 0;
  height: 100%;
  width: 100%;
}
.top{
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  color: #999}

#tip{
  color: #a6ed8e;
  font-size: 20px;
  text-decoration: underline;
  text-decoration-color: #a6ed8e;
}

#container {
  background-color: #1b3c59;
  background-size: cover;
  height: 100%;
  width: 100%;
  font-family: 'Fredoka One', cursive;
}

.board {
  background-color: #f2f2f0;
  margin: 30px;
  margin-top: 0;
  height: 100%;
  width: 100%;
  position: relative;
  touch-action: none;
}

.snake-block {
  background-color: green;
  position: absolute;
  height: 30px;
  width: 30px;
  grid-area: block;
}

.snake-head {
  background: rgb(15, 176, 12);
  width: 30px;
  height: 30px;
  position: absolute;
  z-index: 100;
  background: url('./dist/images/snake.svg');
  transform: rotate(-90deg);
}

.snake-body {
  background: goldenrod;
  width: 28px;
  height: 28px;
  margin: 1px;
  position: absolute;
  background: url('./dist/images/body2.svg');
  background-size: 100%;

}

.snake-food {
  background: red;
  position: absolute;
  height: 30px;
  width: 30px;
  background: url('./dist/images/apple.svg');
}

#score {
  text-align: end;
  margin-right: 20px;
  line-height: 30px;
  text-align: center;
  color: #f2f2f0;
  margin: 0;
  margin-right: 30px;
  letter-spacing: 2px;
  word-spacing: 5px;
}

#points{
  color: #a6ed8e;
}

.cover{
  position: fixed;
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.4);
  z-index: 500;
}

#beginning-modal{
  display: block;
}

.play-again-box{
  position: relative;
  top: 25%;
  width: 50vw;
  height: 50vh;
  background: #456173;
  margin: 0 auto;
  display: grid;
  grid-template-areas:    "msg msg"
                          "username username"
                          "again btn2";
  grid-template-columns: 1fusernamer 1fr;
  grid-template-rows: 1fr 0fr 1fr;
  text-align: center;
  padding: 1em;
  border-radius: .375rem;
  box-sizing: border-box;
  display: none;
}

.message{
  grid-area: msg;
  color: #f2f2f0;
  font-size: 50px;
}

#username{
  grid-area: username;
  margin:0;
  padding: 0;
  font-size: 2em;
  display: block;
  margin: 0 auto;
  border: none;
  padding: 0;
  width: 5.99ch;
  background: repeating-linear-gradient(90deg, #f2f2f0 0, #f2f2f0 1ch, transparent 0, transparent 1.5ch) 0 100%/ 10ch 2px no-repeat;
  font: 5ch droid sans mono, consolas, monospace;
  letter-spacing: 0.5ch;
  color: #f2f2f0;
}
#username:focus{
  outline: none;
  color: #f2f2f0;
}

#username::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: #f2f2f0;
    opacity: 1; /* Firefox */
}

#username:-ms-input-placeholder { /* Internet Explorer 10-11 */
    color: #f2f2f0;
}

#username::-ms-input-placeholder { /* Microsoft Edge */
    color: #f2f2f0;
}

.again{
  grid-area: again;
  margin: 20px;
  border-radius: .375rem;
  border: 1px solid transparent;
  background-color: #a6ed8e;
  border-color: #a6ed8e;
  color:#1b3c59;
  cursor: pointer;
  font-family: 'Fredoka One', cursive;
  font-size: 20px;
}

.again:hover{
  box-shadow: 0 5px 15px rgba(0,0,0,.05), 0 4px 10px rgba(23,198,113,.25);
  background-color: #17c671;
  border-color: #17c671;
  transition: all 0.3s;
}

.highest-scores{
  font-family: 'Fredoka One', cursive;
  font-size: 20px;
  background: #e9ecef;
  color: #1b3c59;
  cursor: pointer;
  margin: 20px;
  border: 1px solid transparent;
  border-radius: .375rem;
}

.highest-scores:hover{
  box-shadow: 0 5px 15px rgba(0,0,0,.05), 0 4px 10px rgba(233,236,239,.25);
  background-color: #dadfe4;
  border-color: #dadfe4;
  transition: all 0.3s;
}

.highest-scores-box {
  position: relative;
  top: 25%;
  width: 50vw;
  height: 50vh;
  background: #456173;
  margin: 0 auto;
  grid-template-areas:  "title title title"
                        "entries entries entries"
                        "again again again";
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 4fr 2fr;
  text-align: center;
  padding: 1em;
  border-radius: 3%;
  box-sizing: border-box;
  display: none;
}

.score-entries {
  grid-area: entries;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  max-height: 160px;
}
.score-entries h2{
  margin: 0;
  color: #dadfe4;
}

.start-box{
  position: relative;
  top: 25%;
  width: 50vw;
  height: 50vh;
  background: #456173;
  margin: 0 auto;
  display: grid;
  grid-template-areas:    "title title"
                          "start start";
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  text-align: center;
  padding: 1em;
  border-radius: .375rem;
  box-sizing: border-box;
}

.title {
  grid-area: title;
  font-size: 60px;
  color: #f2f2f0;
}
.fs-30{
  font-size: 30px;
  letter-spacing: 2px;
}

.start {
  grid-area: start;
  background-color: #a6ed8e;
  border-color: #a6ed8e;
  border: 1px solid transparent;
  padding: .75rem 1.25rem;
  border: 1px solid transparent;
  font-family: 'Fredoka One', cursive;
  font-size: 25px;
  border-radius: .375rem;
  cursor: pointer;
  color:#1b3c59;
}

.start:hover{
  box-shadow: 0 5px 15px rgba(0,0,0,.05), 0 4px 10px rgba(23,198,113,.25);
  background-color: #17c671;
  border-color: #17c671;
  transition: all 0.3s;
}

.m-0{
  margin: 0;
  color: #f2f2f0;
}
.m-5{
  margin: 5px;
}

@media screen and (max-width: 1000px) {
  .play-again-box{
      width: 60%;
  }

  .highest-scores-box{
      width: 60%;
  }
}

@media screen and (max-width: 600px) {
  .play-again-box{
      width: 95%;
      padding: 0;
  }

  .highest-scores-box{
      width: 95%;
      padding: 0;
  }
}
